* {
font-family:Verdana,Helvetica,Arial,sans-serif;
font-size:12px;
}

body {
margin:0;
padding:0;
}

#logo {
position:absolute;
top:0;
z-index:99;
display: none;
}

#produkte {
position:absolute;
top:75px;
text-align: center;
width: 100%;
}

#header {
position:absolute;
top:15px;
width: 100%;
text-align: center;
font-size:56px;
color:#000;
font-weight:700;
}

/* .navi {
position:absolute;
top:110px;
list-style:none;
background-color:#0360BD;
float:left;
z-index:1;
margin:0;
padding:0 0 0 268px; 
width: 100%;
margin: 0;
padding: 0;
float: right;
text-align: center;
}

.navi li {
float:left;
border:1px solid #000;
background-color:#0360BD;
margin:5px;
padding:7px 10px;
width: 100px;
text-align: center;
}

.navi li a {
color:#FFF;
text-decoration:none;
}

.navi a:hover li:hover{
color:#FFF;
background-color:#008;
border:1px solid #FFF;
}
 */
 
 .new_navi {
position:absolute;
top:110px;
list-style:none;
background-color:#0360BD;
width: 100%;
margin: 0;
padding: 0;
float: right;
text-align: center;
}

.new_navi a {
border:1px solid #000;
background-color:#0360BD;
margin:5px;
padding:7px 10px;
width: 100px;
text-align: center;
color:#FFF;
text-decoration:none;
}


.new_navi a:hover{
color:#FFF;
background-color:#008;
border:1px solid #FFF;
}

 
.inhalt {
position:absolute;
top:170px;
width: 100%;
text-align: center;
}

h1 {
font-size:27px;
}

h2 {
font-size:15px;
}

#copy {
display: none;
}

.link {
margin-top:5px;
}

.link a {
text-decoration:none;
}

a {
color:#008;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

#active_menu {
background-color:#7A7CFD;
}

#sideline{
  border-right: 35px solid #0360BD;
  position: absolute;
  left: 20px;
  top: 100px;
  overflow:hidden; 
  width: 200px;
  padding-top: 100px;
}

#sideline td{
  padding-bottom: 15px;
}

/**
* Guestbook
**/

.fehler_anzeige {
width:80%;
border:solid 2px red;
background-color:#FD8C8C;
padding:5px 5px 5px 15px;
}

.neuereintrag {
border:1px solid #000;
width:70%;
margin:5px;
padding:5px;
}

.eintraege {
width:100%;
margin:5px;
padding:5px;
}

.sternchen {
font-size:10px;
color:#029707;
}

.eintrag_all {
border:2px solid #000;
width:100%;
}

.nachricht {
border:1px solid #AAA;
font-size:13px;
margin:5px 5px 5px 0;
padding:5px;
}

.eintragnummer {
font-size:15px;
margin:5px;
padding:5px;
}

.eing {
font-size:9px;
}

.abgeschickt {
text-align:center;
border:solid 2px #02AC08;
background-color:#9AFE9E;
padding:5px;
}

.insg {
text-align:center;
}