@font-face {
    font-family: 'arial-black';
    src: local('Arial Black');
}

body {
    font-family: Arial;
}

.clear {
    clear: both;
}

.all_wrapper {
    width: 960px;
    margin: auto;
    margin-top: 0px;
}

/*
 * 	Sidebar
 */
.top {
    width: 960px;
}

/* Logo */
.top .logo {
    width: 960px;
    height: 95px;
    background-color: black;
    color: white;
    font-family: "Arial Black", arial-black, Arial; text-align : center;
    margin-bottom: 5px;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.top .logo .name {
    font-size: 57px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
    display: block;
    border-bottom: 2px solid #39B54A;
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

.top .logo .name .forename {
    letter-spacing: 0.05em;
}

.top .logo .professions {
    font-size: 10px;
    font-family: Arial;
    letter-spacing: 0.1em;
}

.logo a {
    color: white; #
    color: #39B54A !important;
    text-decoration: none;
}

/* Contact */
.top .contact {
    width: 940px;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    float: left;
    font-size: 14px;
}

.top .contact a {
    color: white;
}

.top .contact h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.top .contact strong { /* display: block; */
    font-weight: normal;
    font-size: 16px;
}

.top .contact li {
    float: left;
    width: 33%;
}

/* Tags */
.top .tags,.footer .tags {
    width: 960px;
    color: white;
    float: left;
    font-family: Arial;
}

.top .tags a,.footer .tags a {
    color: white;
    text-decoration: none;
}

.top .tags h2 {
    font-family: "Arial Black", arial-black, Arial;
    font-size: 20px;
    padding: 10px;
    background-color: black;
}

.top .tags li a,.footer .tags li a {
    background-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    width: 129px;
    float: left;
    display: block;
    margin-right: 9.5px;
    text-decoration: none;
}

.top .tags li.last a,.footer .tags li.last a {
    margin-right: 0px !important;
}

.top .tags li a:hover {
    background-color: white;
    color: black;
}

.top .tags li.active a {
    background-color: #39B54A;
    color: white;
}

.padder {
    height: 10px;
}

/*
 *	Content
 */
h4 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.content {
    margin-top: 15px;
}

.content.blog {
    
}

.content.blog>li {
    margin-bottom: 25px;
    background-image: url(/img/application/left_bar.png);
    background-repeat: repeat-y;
}

.content.blog li .leftbar {
    margin-right: 15px;
    width: 100px;
    float: left;
    background-color: white;
}

.content.blog li .leftbar .date {
    width: 80px;
    height: 80px;
    display: block;
    font-size: 27px;
    font-family: "Arial Black", arial-black, Arial;
    color: white;
    background-color: black;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.content.blog li .leftbar .time {
    width: 80px;
    display: block;
    font-size: 27px;
    font-family: "Arial Black", arial-black, Arial;
    color: white;
    background-color: black;
    padding: 3px 10px;
    font-weight: bold;
    text-align: center;
}

.content.blog li .leftbar .tags {
    font-family: Arial;
    color: white;
}

.content.blog li .leftbar .tags li a {
    background-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    color: white;
    text-decoration: none;
}

.content.blog li .leftbar .tags li a:hover {
    background-color: white;
    color: black;
}

.content.blog li .date .year {
    font-size: 30px;
    display: block;
}

.content.blog li .text {
    font-family: Arial;
    width: 845px;
    float: left;
}

.content.blog li .text p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.content.blog li .text .title {
    font-size: 40px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: -8px;
}

.content.blog li .titleimage {
    margin-bottom: 20px;
    width: 620px;
}

.content.blog li .titleimage img {
    max-width: 843px;
    border: 1px solid black;
}

.content.blog li .titleimage .author {
    color: white;
    background-color: black;
    width: 835px;
    text-align: right;
    font-size: 12px;
    display: block;
    padding: 2px 5px;
}

.content.blog li .halfimage {
    margin-bottom: 20px;
    margin-left: 10px;
    width: 420px;
    float: right;
}

.content.blog li .halfimage img {
    max-width: 418px;
    border: 1px solid black;
}

.content.blog li .halfimage .author {
    color: white;
    background-color: black;
    width: 410px;
    text-align: right;
    font-size: 12px;
    display: block;
    padding: 2px 5px;
}

.content.blog li blockquote {
    font-size: 35px;
    background-image: url(/img/application/quote.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 46px;
    margin-bottom: 10px;
    margin-top: -7px;
}

.content.blog li blockquote .author {
    font-size: 16px;
    display: block;
    margin-top: 10px;
    text-align: right;
}

.content.blog li blockquote .author:before {
    content: '- ';
}

.content.blog .text ul li {
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 2px;
}

.content.blog .text .used_professions {
    font-size: 80%;
    margin-bottom: 15px;
    color: #777;
}

a {
    color: #39B54A;
}

.content.blog li .link {
    font-size: 35px;
    background-image: url(/img/application/link.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 46px;
    margin-bottom: 10px;
    margin-top: -7px;
}

.content.blog li .text p {
    margin-bottom: 10px;
}

.youtube iframe {
    max-width: 843px;
    border: 1px solid black;
}

.footer .tags {
    background-color: black;
    color: white;
    padding-bottom: 0 !important;
    padding-right: 0;
}

.footer .tags li a {
    margin-bottom: 0;
    float: right;
}

.index_greeting h1 {
    font-size: 100px;
    float: left;
    color: #39B54A;
}

.index_text {
    padding-left: 290px;
    padding-top: 18px;
}