SetEnv APPLICATION_ENV production
Header set Access-Control-Allow-Origin *

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

php_value session.auto_start 0
php_flag magic_quotes_gpc off