body {
	font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.6;
}

#content {
	width: 960px;
	margin: 15px auto;
	padding: 15px;
  padding-top: 15px;
  margin-top: 30px;
	background: #FFF;	
}

#mainContent{
  padding: 15px;
  float: right;
  width: 685px;
}

.clear{
  clear: both;
}

#sidebar{
padding: 0;
   margin-top: 15px;
   margin-bottom: 15px;
   float: right;
   width: 240px;
   margin-right: 5px;
}

h1,h2,h3 {
	margin: 0;
}

h3,h2{
  margin-top: 5px;
}

hr {
	border: none;
/* 	height: 1px; line-height: 1px;
	background: #CCC;	
	margin-bottom: 20px;
	padding: 0;*/
  
  height: 25px;
  background-image: url("../images/hr.png");
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
	margin: 0;	
	padding: 7px 0;
}


/**	style used for both examples **/

		.menu { 
			height: 45px;
			display: block;
		}
    
    

		.menu ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.menu ul li {
			/* width and height of the menu items */  
			float: left;
			overflow: hidden;
			position: relative;
			text-align: center;
			line-height: 45px;
		}

		.menu ul li a {
			/* must be postioned relative  */ 
			position: relative;
			display: block;
			width: 110px;
			height: 45px;
			font-family: Arial;
			font-size: 11px;
			font-weight: bold;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;
      z-index: 1;
		}
    
    #menu2 ul li a:hover {
			background: #FFF;
			color: #000;
		}
    
    
    .trenner{
      color: white;
    }

		.menu ul li a span {
			/* all layers will be absolute positioned */
			position: absolute;
			left: 0;
			width: 110px;
		}

		.menu ul li a span.out {
			top: 0px;
		}

		.menu ul li a span.over,
		.menu ul li a span.bg {
			/* hide */  
			top: -45px;
		}

		#menu2 {
			background: #000;		
		}
		
		#menu2 ul li a {
			color: #FFF;
		}

		#menu2 ul li a span.over, #menu2 ul #current a {
			background: #FFF;
			color: #000;
		}
    
    #mainContent a, #sidebar a{
      color: #000;
    }
    
    #mainContent a:hover, #sidebar a:hover{
      font-weight: bold;
    }
    
    
    #kontakt-facebook{
      padding-left: 20px;
      background-image: url("../images/facebook.png");
      background-repeat: no-repeat;
    }
    
    #kontakt-youtube{
      padding-left: 20px;
      background-image: url("../images/youtube.png");
      background-repeat: no-repeat;
    }
    
    #kontakt-tutorials{
      padding-left: 20px;
      background-image: url("../images/tutorials.png");
      background-repeat: no-repeat;
    }
    
    #kontakt-icq{
      padding-left: 20px;
      background-image: url("../images/icq.png");
      background-repeat: no-repeat;
    }
    
    #kontakt-mail{
      padding-left: 20px;
      background-image: url("../images/mail.png");
      background-repeat: no-repeat;
    }
    
    #projekte-pincms{
    padding-left: 20px;
      background-image: url("../images/pincms.png");
      background-repeat: no-repeat;
    }
    
    #projekte-pincms-big{
    padding-left: 40px;
      background-image: url("../images/pincms-big.png");
      background-repeat: no-repeat;
    }
    
    #projekte-markmanager{
    padding-left: 20px;
      background-image: url("../images/markmanager.png");
      background-repeat: no-repeat;
    }
    
     #projekte-markmanager-big{
    padding-left: 40px;
      background-image: url("../images/markmanager-big.png");
      background-repeat: no-repeat;
    }
    
     #kontakt-skype{
    padding-left: 20px;
      background-image: url("../images/skype.png");
      background-repeat: no-repeat;
    }
    
    #kontakt-twitter{
     padding-left: 20px;
      background-image: url("../images/twitter.png");
      background-repeat: no-repeat;
    }
    
    
    ul{
    margin: 0;
      padding: 15px;
    }
    
    ul li ul{
      padding-top: 0px;
    }
    
    .fancylinesright{
      background-image: url("../images/fancy-lines.png");
       background-repeat: no-repeat;
       width: 192px;
       height: 229px;
      position: relative;
      left: 900px;
      top: -83px;
       z-index: 0;
    }
    
    * html .fancylinesright, *:first-child+html .fancylinesright{
    top: -128px;
    }
    
    .jahreszeit{
       background-repeat: no-repeat;
       width: 30px;
       height: 30px;
      position: relative;
      left: 940px;
      top: -223px;
       z-index: 0;
    }
    
    
    * html .jahreszeit, *:first-child+html .jahreszeit{
    top: -268px;
    }
     
    #jz-ostern{
      background-image: url("../images/jahreszeiten/ostern.png");
    }
    
    #jz-weihnachten{
      background-image: url("../images/jahreszeiten/weihnachten.png");
    }
    
    #jz-pfingsten{
      background-image: url("../images/jahreszeiten/pfingsten.png");
    }
    
    #jz-herbst{
      background-image: url("../images/jahreszeiten/herbst.png");
    }
    
    #jz-sommer{
      background-image: url("../images/jahreszeiten/sommer.png");
    }
    
     #jz-bday{
      background-image: url("../images/jahreszeiten/bday.png");
    }
    
    
    .menu .logo{
      display: inline;
      color: black;
      
      font-weight: bold;
      float: left;
      line-height: 45px;
      padding-right: 53px;
      font-size: 40px;
      background-color: white;
    }
    
    
    
    
    .leftColumn{
       width: 335px;
       float: left;
       margin-right: 7px;
       margin-bottom: 15px;
    }
    
    .rightColumn{
       width: 335px;
       float: left;
        margin-left: 7px;
        margin-bottom: 15px;
    }
    
    .clear{
      clear: both;
      display: block;
      height: 0px;
    }
    
    .floatleft{
      float: left;
    }
    
    .timestamp{
      display: block;
      color: grey;
      font-size: 11px;
    }
    
    .imgiframe{
      padding: 2px;
      border: 1px solid grey;
      margin-right: 10px;
      margin-bottom: 5px;
      float: left;
    }
    
    #mainContent .ulmargin{
      margin-left: 220px;
    }
    
    .grey{
      color: grey;
    }
    
    .gallery{
      margin-top: 10px;
    }
    
    .gallery a img{
      border: 1px solid white;
    }
    
    .gallery a img:hover{
    
    }
    
    .gallery a{
    background-color: black;
    margin-right: 7px;
    margin-bottom: 10px;
    }
    
    .gallery a:hover .title{
    font-weight: normal;
    border: 0;
    text-decoration: none;
    }
    
    .gallery .bild{
      width: 150px;
      padding: 7px;
      cursor: hand;
      
      
      text-align: center;
      display: block;
    }
    
    .gallery a:hover{
      margin-bottom: 12px;
    }
    
    .gallery .title{
      width: 150px;
      padding: 7px;
      text-align: center;
      font-size: 12px;
      color: white;
      display: block;
      text-align: center;
      border-top: 2px solid white;
      cursor: hand;
    }
    
    .post{
      margin-bottom: 20px;
    }
    
    .illulogo{
      background-image: url("../images/illulogo.png");
      position: relative;
      top: -261px;
      left: -24px;
      height: 150px;
      width: 270px;
      z-index: 89;
      background-repeat: no-repeat;
    }
    
    .menu .logo{
      color: white;
    }
    
    .yt-floatleft{
      float: left;
      margin: 10px;
      margin-left: 0;
    }