body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 0px 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #009345 !important;
  color: #fff !important;
}
.button.inverte {
  background-color: white;
  color: black;
}
.showcase {
  margin-bottom: 35px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: black;
  color: white;
}
.showcase.geargrind {
  margin-bottom: 30px;
  background-image: url(../images/51e6b4b95b9b789f3200024b_geargrind-background.png);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat no-repeat;
}
.showcase-description {
  padding: 10px 20px 20px;
  background-color: rgba(0, 0, 0, 0.90);
}
.showcase-small {
  width: 258px;
  margin-right: 10px;
  text-align: left;
}
.showcase-small.rightbord {
  margin-right: 10px;
}
.showcase-small.ima {
  width: 202px;
  padding: 0px;
}
.showcase-small-image {
  margin-top: 15px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid black;
  border-radius: 100px 0px 100px 100px;
}
.showcase-small-image.hero-image {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  border-top-right-radius: 100px;
  box-shadow: none;
}
.heading-container {
  padding-bottom: 25px;
}
.footer {
  padding: 15px 10px;
  text-align: right;
}
.footer-link {
  color: #999;
  text-decoration: underline;
}
.navigation-link {
  display: block;
  margin-right: 20px;
  padding: 22px 20px;
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-link:hover {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  text-decoration: underline;
}
.navigation {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}
.header {
  margin-bottom: 30px;
  background-color: black;
  color: white;
}
.small-projects-2 {
  margin-bottom: 35px;
}
.used-language {
  margin-top: 15px;
  font-size: 10px;
}
.heading-section {
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #009345;
  box-shadow: #0a371b 0px 0px 10px 0px inset;
  color: white;
  text-align: center;
}
.heading-section.no-shadow{
  box-shadow: none;
}
.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: none;
}
.hero {
  margin-bottom: 30px;
}
.hero-text {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 0px;
  float: left;
}
.date {
  width: 150px;
  color: gray;
  font-size: 10px;
  line-height: 10px;
}
.footer-avatar {
  float: left;
}
.footer-section {
  background-color: whitesmoke;
}
.hero-icon {
  margin-right: 10px;
  float: left;
}
.hero-icon-text {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
}
.hero-icons {
  margin-top: 5px;
}
.logo {
  width: 335px;
  padding-top: 10px;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.logo a{
  color: white;
  text-decoration: none;
}
.responsive-row {
  width: 258px;
  padding-left: 20px;
  float: left;
}
.project-column {
  padding-right: 0px;
  padding-left: 0px;
}
.hero-small-image-wrapper{
  margin-top: 10px;
}
.hero-small-image{
  float: right;
  border: 1px solid white;
}
.first-small-project{
  display: none;
}
.project-clear{
  clear: both;
  height: 35px;
}
.desktop-clear{
  clear: both;
  display: block;
}
.mobile-clear{
  clear: none;
  display: none;
}
@media (max-width: 979px) {
  .showcase.geargrind {
    background-image: url(../images/51e6b4b95b9b789f3200024b_geargrind-background.png);
    background-position: 50% 50%;
  }
  .showcase-small-image {
    float: none;
    border-top-right-radius: 100px;
  }
  .showcase-small-image.hero-image {
    float: right;
  }
  .hero-text {
    width: 470px;
  }
  .date {
    width: auto;
  }
  .hero-icons {
    width: 215px;
    margin-right: 10px;
  }
  .responsive-row {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    float: none;
  }
  .project-column {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .contact-wrapper {
    width: 222px;
    margin-bottom: 11px;
  }
  .first-small-project{
    display: block;
  }
  .desktop-clear{
    clear: none;
    display: none;
  }
  .mobile-clear{
    clear: both;
    display: block;
  }
}
@media (max-width: 768px) {
  .project-clear {
    display: none;
  }
  .showcase.geargrind {
    background-image: url(../images/51e6b4b95b9b789f3200024b_geargrind-background.png);
    background-position: 50% 50%;
  }
  .showcase-small-image {
    float: left;
    border-top-right-radius: 0px;
  }
  .showcase-small-image.hero-image {
    float: none;
    text-align: center;
  }
  .navigation-link {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    float: none;
  }
  .navigation {
    width: 100%;
    padding-left: 10px;
    text-align: center;
  }
  .small-projects-2 {
    margin-bottom: 15px;
  }
  .heading-section {
    box-shadow: none;
  }
  .hero-icons {
    margin-top: 10px;
  }
  .responsive-row {
    width: 333px;
    padding-right: 0px;
    float: left;
    text-align: left;
  }
  .project-column {
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .hero-image {
    text-align: center;
  }
  .logo {
    width: auto;
    text-align: center;
  }
}
@media (max-width: 559px) {
  .showcase.geargrind {
    background-image: url(../images/51e6b4b95b9b789f3200024b_geargrind-background.png);
    background-position: 50% 50%;
  }
  .showcase-small {
    width: auto;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .showcase-small.rightbord {
    width: 100%;
    margin-bottom: 20px;
  }
  .showcase-small.ima {
    width: 100%;
    margin-bottom: 0px;
  }
  .showcase-small-image {
    float: none;
    border-top-right-radius: 100px;
  }
  .showcase-small-image.hero-image {
    float: none;
    text-align: center;
  }
  .navigation-link {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    float: none;
  }
  .navigation {
    width: 100%;
    padding-left: 10px;
    text-align: center;
  }
  .small-projects-2 {
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .hero {
    margin-bottom: 20px;
  }
  .hero-text {
    width: auto;
    text-align: left;
  }
  .date {
    width: 100%;
  }
  .hero-icon {
    margin-bottom: 10px;
  }
  .hero-icons {
    width: 225px;
  }
  .logo {
    width: auto;
    text-align: center;
  }
  .responsive-row {
    width: auto;
    float: none;
    text-align: center;
    padding-left: 0;
  }
  .project-column {
    margin-bottom: 15px;
    padding-left: 10px;
  }
}